<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create new post</title>
</head>
<body>
    <form action="/posts" method="post">
        <input type="text" name="username" placeholder="username"> <br> <br>
        <textarea name="content" id="" cols="30" rows="10" placeholder="write something here."></textarea><br><br> 
        <button type="submit">submit</button>
    </form>
</body>
</html>